@import url(navbar.css);
@import url(signup.css);
@import url(slider.css);
@import url(portfolio.css);
@import url(explore.css);
@import url(exchange.css);
@import url(tradeanywhere.css);
@import url(needhelp.css);
@import url(startearn.css);
@import url(footer.css);

:root {
  --font-sm: 12px;
  --font-md: 16px;
  --font-lg: 24px;
  --font-xl: 32px;
  --font-2xl: 40px;
}
body {
  font-family: "DM Sans", sans-serif;
}
#wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 640px) {
  #wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

#wrapper #main {
  max-width: auto;
}
@media screen and (max-width: 640px) {
  #wrapper #main {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* hover on buttons */
.yellow-btn:hover {
  opacity: 0.85;
}
.ga-btns .gray-btn:hover {
  opacity: 0.8;
}
