#wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
#header {
  display: flex;
  border: 2px black solid;
  position: fixed;
  width: inherit;
  height: 4rem;
}
#header .left-menu {
  display: flex;
  width: 70vw;
  gap: 2rem;
}
#header .left-menu .binance-logo img {
  width: 150px;
  height: 30px;
  padding: 1rem;
}
#header .left-menu .selects {
  display: flex;
  /* gap: 1rem; */
}
#header .left-menu .selects .select {
  display: flex;
  gap: 0.25rem;
  padding: 0.5rem;
  align-items: center;
}
#header .right-menu {
  display: flex;
  width: 30vw;
}
#header .right-menu .log-reg {
  display: flex;
  width: 50vw;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
}

#header .right-menu .optional {
  display: flex;
  width: 50vw;
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
}
